<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Board</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
<link rel="stylesheet" href="/14_board/jsfk/waitme/waitMe.css">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col l12 s12 valign-wrapper ">
				<h2>로그인</h2>
			</div>
		</div>
		<div class="row">
			<div class="col l12 s12 valign-wrapper ">
				<div class="wrapper center-align">
					<div class="input-field left-align">
						<input type="text" name="id" id="id" class="validate"> <label for="id">ID</label>
					</div>
					<div class="input-field left-align">
						<input type="password" name="pass" id="pass" class="validate"> <label
							for="pass">PASS</label>
					</div>
					<div class="loginBtn left-align">
						<button class="waves-effect waves-light btn">로그인</button>
					</div>
				</div>
			</div>
		</div>
		<div class="result left-align"></div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/14_board/jsfk/waitme/waitMe.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
	<script src="/14_board/js/login.js"></script>
</body>
</html>